
body {
  margin-top: 5%;
}

.container-1 {
  display: initial;
}

.container-2 {
  display:none;
}

@media screen and (min-width:40px) and  (max-width:400px) {
  body {
      margin-top: 25%;
  }

  .container-2 {
      display: initial;
  }
  .container-1 {
  display: none;
}
}

@media screen and (min-width:400px) and (max-width:999px) {
  body {
      margin-top: 8%;
  }

  .container-2 {
      display: none;
  }

  .container-1 {
      display: initial;
  }
}
